.experience__level {
  font-weight: bold;
}

.experience__level-familiar {
  color: orangered;
}
.experience__level-knowledgeable {
  color: yellowgreen;
}
.experience__level-proficient {
  color: green;
}
