:root {
  --color__background: #fdf6e3;
  --color__text: #073642;
  --color__border: #ddd7c6;
  --color__accent: #f5bfbb;

  --space__std: 20px;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color__background: #23292b;
    --color__text: #fdf6e3;
    --color__border: #455255;
    --color__accent: #d47467;
  }
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  background-color: var(--color__background);
  color: var(--color__text);
  font-family: 'IBM Plex Mono', arial;
}

.site-layout {
  width: 100vw;
  height: 100vh;
  padding: 0 var(--space__std);
}
