.nav-menu {
  position: relative;
  display: inline-flex;
  background-color: transparent;
}

.nav-menu__selected {
  display: inline-flex;
  align-items: center;
}

.nav-menu__selected:hover {
  cursor: pointer;
}

.nav-menu__dropdown {
  position: absolute;
  top: 40px;
}

.nav-menu__dropdown > * {
  display: block;
  margin-top: 9px;
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
}

.nav-menu__down-icon {
  margin-left: 5px;
  margin-top: 7px;
}
