.nav-selected {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-selected:hover {
  cursor: pointer;
}

.nav-selected__left {
  border-right: 9px solid var(--color__text);
  border-top: 36px solid transparent;
}

.nav-selected__right {
  border-left: 9px solid var(--color__text);
  border-bottom: 36px solid transparent;
}

.nav-selected__main {
  position: relative;
  background-color: var(--color__text);
  padding: 2px;
}

.nav-selected__inner-left {
  position: absolute;
  bottom: 2px;
  left: -6px;
  border-right: 8px solid var(--color__accent);
  border-top: 32px solid transparent;
}

.nav-selected__inner-main {
  background-color: var(--color__accent);
  padding: 0 8px 0 4px;
}

.nav-selected__inner-right {
  position: absolute;
  bottom: 2px;
  right: -6px;
  border-left: 8px solid var(--color__accent);
  border-bottom: 32px solid transparent;
}

.nav-selected__inner-main > * {
  margin: 0;
  font-style: italic;
  text-transform: uppercase;
}

.nav-selected__icon {
  margin-left: 5px;
  margin-top: 7px;
}
