.footer {
  width: 100%;
  max-width: var(--size__content-width);
  margin-top: var(--space__std);
  padding-top: var(--space__std);
  border-top: 1px solid var(--color__text-light);
  color: var(--color__text-light);
  font-size: smaller;
}
