@font-face {
  font-family: "iA Writer Duo";
  src: url("../assets/fonts/ia-writer-duo/regular.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-duo/regular.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Duo";
  font-weight: bold;
  src: url("../assets/fonts/ia-writer-duo/bold.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-duo/bold.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Duo";
  font-style: italic;
  src: url("../assets/fonts/ia-writer-duo/italic.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-duo/italic.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Duo";
  font-style: oblique;
  src: url("../assets/fonts/ia-writer-duo/italic.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-duo/italic.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Duo";
  font-weight: bold;
  font-style: italic;
  src: url("../assets/fonts/ia-writer-duo/bold-italic.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-duo/bold-italic.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Duo";
  font-weight: bold;
  font-style: oblique;
  src: url("../assets/fonts/ia-writer-duo/bold-italic.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-duo/bold-italic.woff") format("woff");
}

@font-face {
  font-family: "iA Writer Quattro";
  src: url("../assets/fonts/ia-writer-quattro/regular.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-quattro/regular.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-weight: bold;
  src: url("../assets/fonts/ia-writer-quattro/bold.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-quattro/bold.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-style: italic;
  src: url("../assets/fonts/ia-writer-quattro/italic.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-quattro/italic.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-style: oblique;
  src: url("../assets/fonts/ia-writer-quattro/italic.woff2") format("woff2"),
    url("../assets/fonts/ia-writer-quattro/italic.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-weight: bold;
  font-style: italic;
  src: url("../assets/fonts/ia-writer-quattro/bold-italic.woff2")
      format("woff2"),
    url("../assets/fonts/ia-writer-quattro/bold-italic.woff") format("woff");
}
@font-face {
  font-family: "iA Writer Quattro";
  font-weight: bold;
  font-style: oblique;
  src: url("../assets/fonts/ia-writer-quattro/bold-italic.woff2")
      format("woff2"),
    url("../assets/fonts/ia-writer-quattro/bold-italic.woff") format("woff");
}
