@import "contact-form.css";
@import "fonts.css";
@import "footer.css";
@import "projects.css";
@import "site-container.css";

:root {
  --color__background: #fdf6e3;
  --color__text: #073642;
  --color__text-light: #92a9af;
  --color__border: #ddd7c6;
  --color__theme-1: #e29c9c;
  --color__theme-2: #7a9872;
  --color__shadow: #dddddd;
  --color__input: #ffffff;
  --color__error: #bd0404;

  --space__lg: 2.4rem;
  --space: 1.2rem;
  --space__sm: 0.4rem;
  --space__xs: 0.2rem;
  --space__xxs: 0.1rem;

  --max-content-width: 600px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color__background: #23292b;
    --color__text: #e6dec8;
    --color__text-bright: #fff6df;
    --color__text-light: #69665d;
    --color__border: #455255;
    --color__shadow: #000000;
    --color__input: #000000;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "iA Writer Quattro", sans-serif;
  color: var(--color__text);
  background-color: var(--color__background);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
a {
  font-family: "iA Writer Duo", monospace;
}

h1 {
  font-size: 2.6rem;
  color: var(--color__text-bright);
  font-weight: normal;
}

h2 {
  font-size: 2rem;
  color: var(--color__text-bright);
  font-weight: bold;
  margin-top: var(--space__lg);

  text-decoration-line: underline;
  text-decoration-color: var(--color__theme-1);
  text-decoration-style: solid;
  text-decoration-thickness: var(--space__sm);
}

h3 {
  font-size: 1.6rem;
  color: var(--color__theme-1);
}

h4 {
  font-size: 1.3rem;
  color: var(--color__text-bright);
  font-style: italic;
  font-weight: 700;
  margin: var(--space__sm) 0;
}

h5 {
  font-size: 1.2rem;
  color: var(--color__text-bright);
  margin: var(--space__sm) 0;
}

h6 {
  font-size: 1.1rem;
  color: var(--color__text-bright);
  margin: var(--space__sm) 0;
}

a {
  color: var(--color__theme-2);
  font-weight: 600;
  text-decoration-thickness: var(--space__xxs);
}

input,
textArea,
button,
label {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

input,
textArea {
  background-color: var(--color__input);
  border: var(--space__xs) solid var(--color__border);
  padding: var(--space__sm);
  box-shadow: none;
  border-radius: 0;
}

textArea {
  resize: vertical;
  min-height: 8rem;
}

label {
  margin-left: var(--space__sm);
  margin-top: var(--space__sm);
  font-weight: bold;
  opacity: 0.6;
  font-size: 0.9rem;
}

button {
  background-color: inherit;
  font-weight: bold;
  border: var(--space__xs) solid var(--color__text);
  padding: var(--space__sm);
}

button:hover {
  cursor: pointer;
}

ul li {
  list-style-type: none;
  margin-top: var(--space__sm);
}

ul li:before {
  content: "\2022";
  color: var(--color__theme-1);
  font-weight: bold;
  float: left;
  font-size: 1.7em;
  line-height: 0.7em;
  margin-left: -1.2em;
  width: 1.2em;
}

strong {
  font-weight: bolder;
  color: var(--color__text-bright);
}

img {
  box-shadow: var(--space__sm) var(--space__sm) var(--color__theme-1);
  border: var(--space__xxs) solid var(--color__text);
  width: 100%;
  max-width: 200px;
}

#know-more:hover {
  cursor: help;
}

#know-more-gif {
  margin-bottom: 1em;
}

#know-more-gif.hidden {
  display: none;
}
