.projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-auto-rows: auto;
  gap: var(--space__lg);
}

@media (max-width: 400px) {
  .projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
