#site-container {
  min-height: 100dvh;
  width: 100vw;
  padding: var(--space);
  display: flex;
  justify-content: center;
  transition: opacity 0.2s, scale 0.2s;
}

#site-container.before-load {
  opacity: 0;
  scale: 100.5%;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-content-width);
}

header,
footer {
  flex-grow: 0;
}

main {
  flex-grow: 1;
}

header > h1 {
  margin-top: 0;
}
