#site-container {
  min-height: 100dvh;
  width: 100vw;
  padding: var(--space);
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

#site-container.transparent {
  opacity: 0;
}

#content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-content-width);
}

header,
footer {
  flex-grow: 0;
}

main {
  flex-grow: 1;
}

header > h1 {
  margin-top: 0;
}
